/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.main{
    width: 100%;
    height: auto;
    background-image: url("../img/backgrounds/bgwithnoise/bluebackgroundwithnoisefullhd.png");
    background-repeat: repeat;
}

.welcomePage{
    width: 100%;
    height: 100vh;
    background: url(../img/backgrounds/wallpapers/lolwallpaper1.png) no-repeat;
    background-size: cover;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.welcomePage img{
    width: 200px;
}

.welcomePage .welcomeText{
    color: white;
    font-family: "caudex-bold";
    font-size: 1.7rem;
    margin: 20px 0;

}

.welcomePage .welcomeButton{
    padding: 20px;
    background: #002764;
    border: #A19100 1px solid;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    font-family: "caudex-bold";
    width: 350px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    overflow: visible;
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.welcomePage .welcomeButton::before{
    content: '';
    position: absolute;
    top: 8px;
    left: -12px;
    background: url('../img/symbols/other/CTADesignsmall.png') no-repeat;
    width: 9px;
    height: 65px;
    z-index: 101;
}

.welcomePage .welcomeButton::after{
    content: '';
    position: absolute;
    top: 8px;
    right: -12px;
    background: url('../img/symbols/other/CTADesignsmall.png') no-repeat;
    width: 9px;
    height: 65px;
    z-index: 101;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.welcomePage .welcomeButton:hover{
    color: rgb(161, 161, 161);
}

.welcomePage .welcomeButton:hover img{
    margin-left: 20px;
}

.welcomePage .welcomeButton img{
    width: 30px;
    position: relative;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.main .aboutme{
    width: 100%;
    height: 100vh;
    padding: 50px 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.main .aboutme .aboutTitle{
    color: white;
    font-size: 3rem;
    font-family: "caudex-bold";
    padding-bottom: 30px;

}

.main .aboutme .aboutmeContainer{
    width: 50%;
    margin: 0 auto;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* align-items: center; */
}

.main .aboutme .aboutmeContainer .aboutmeTitle{
   color: white;
   font-family: "caudex-bold";
   font-size: 1.7rem;
   padding: 10px 0; 
}

.main .aboutme .aboutmeContainer .aboutmeText{
    color: white;
    font-family: "caudex";
    font-size: 1.3rem;
    padding: 5px 10px 5px 0; 
}

.main .aboutme .aboutmeContainer img{
    width: 300px;
    border: 1px solid #A19100;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #002764; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0,35,93);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,35,93,1)), color-stop(30%, rgba(0,22,58,1)), color-stop(70%, rgba(0,22,58,1)), to(rgba(0,35,93,1)));
    background: linear-gradient(0deg, rgba(0,35,93,1) 0%, rgba(0,22,58,1) 30%, rgba(0,22,58,1) 70%, rgba(0,35,93,1) 100%);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000c20; 
  }

/* === Mobile Design === */

@media screen and (max-width: 992px) {

    .welcomePage img{
        width: 150px;
    }

    .welcomePage .welcomeText{
        font-size: 1.4rem;
        margin: 20px 0;  
    }

    .welcomePage .welcomeButton{
        padding: 10px;
        font-size: 1.4rem;
        width: 250px;
    }

    .welcomePage .welcomeButton::before{
        display: none;
    }

    .welcomePage .welcomeButton::after{
        display: none;
    }

    .welcomePage .welcomeButton img{
        width: 20px;
    }

    .main .aboutme{
        height: auto;
    }

    .main .aboutme .aboutmeContainer{
        width: 90%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    .main .aboutme .aboutmeContainer img{
        width: 100%;
        margin-bottom: 20px;
    }

}